body {
	background-color: $light-gray;
	overflow: hidden;
}

.main {
	padding-top: 14em;
	height: 100%;
}

.welcome {
	h2 {
		font-size: 2.5em;
		text-align: center;
		font-weight: 500;
		color: $dark-blue;
	}
}

.go {
	img {
		background-color: $dark-blue;
		border-radius: 25px;
		//-moz-transform: rotate(90deg);
		//-o-transform: rotate(90deg);
		//-ms-transform: rotate(90deg);
		//transform: rotate(90deg);
	}
	width: 150px;
	height: 150px;
}

.continue {
	background-color: $light-blue;
	height: 100%;
}

.form-box {
	background-color: $light-gray;
	margin-top: 10em;
	padding: 3em 0em;
	border-radius: 2em;

	& .button {
		background-color: $light-blue;

		&:hover {
			background-color: $dark-blue;
		}
	}
}

/*
div {
	border: 1px solid black;
}
*/
